<footer class="foot d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-white-600 border-top">
    <!-- <div class="col-md-4 d-flex align-items-center">
        <!-- <span class="copy mb-3 mb-md-0 text-light">&copy; 2024 Company, Inc</span> -->
        <!-- <a href="/" class="icon mb-3 me-2 mb-md-0 text-body-dark text-decoration-none lh-1">
            <i class="fas fa-leaf" style="margin-right: 26rem;"></i>
        </a> 
    </div>  -->
    <!-- <div class="f-container">
        <a class="social text-body-light" href="#"><i class="fa-brands fa-instagram"></i></a>
        <a class="social text-body-light" href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class="social text-body-light" href="#"><i class="fa-brands fa-twitter"></i></a>
    </div> -->
  </footer>

  <footer class="py-5 bg-white-600 text-black">
    <div class="container">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-md-4">
                <h5 class="display-title mb-3">Contact Us</h5>
                <ul class="list-unstyled">
                    <li class="display-des">Email: DreamDWell@gmail.com</li>
                    <li class="display-des">Phone: +91 8955962868</li>
                    <li class="display-des">Address: 123 Main Street, Jaipur, India</li>
                </ul>
            </div>

            <!-- Navigation Links -->
            <div class="col-md-3">
                <h5 class="display-title mb-3 text-black">Quick Links</h5>
                <ul class="list-unstyled text-black">
                    <li class="display-des"><a href="#" class="text-black text-decoration-none">Home</a></li>
                    <li class="display-des"><a href="#" class="text-black text-decoration-none">About</a></li>
                    <li class="display-des"><a href="#" class="text-black text-decoration-none">Services</a></li>
                    <li class="display-des"><a href="#" class="text-black text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col-md-2">
                <h5 class="display-title mb-3 text-black">Follow Us</h5>
                <div class="d-flex social-div text-black">
                    <a class="social text-black" href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a class="social text-black" href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a class="social text-black" href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a class="social text-black" href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <!-- Logo -->
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <a class="navbar-brand text-light d-flex flex-column align-items-center text-center" href="/">
                    <i class="fas fa-hotel text-black" style="font-size: 2.5rem;"></i>
                    <p class="head-text text-black" style="font-size: 1.5rem;">DreamDWell</p>
                  </a>
            </div>
        </div>

        <div class="text-center mt-4">
            <p>&copy; 2024 DreamDWell. All rights reserved.</p>
        </div>
    </div>
</footer>
