<footer class="foot py-3 border-top bg-light">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Contact Info -->
      <div class="col-12 col-md-4 mb-4">
        <h5 class="display-title mb-3 font-semibold">Contact Us</h5>
        <ul class="list-unstyled">
          <li class="display-des">Email: DreamDWell@gmail.com</li>
          <li class="display-des">Phone: +91 8955962868</li>
          <li class="display-des">Address: 123 Main Street, Jaipur, India</li>
        </ul>
      </div>

      <!-- Navigation Links -->
      <div class="col-12 col-md-3 mb-4">
        <h5 class="display-title mb-3 text-black font-semibold">Quick Links</h5>
        <ul class="list-unstyled text-black">
          <li class="display-des"><a href="#" class="text-black text-decoration-none">Home</a></li>
          <li class="display-des"><a href="#" class="text-black text-decoration-none">About</a></li>
          <li class="display-des"><a href="#" class="text-black text-decoration-none">Services</a></li>
          <li class="display-des"><a href="#" class="text-black text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-12 col-md-2 mb-4">
        <h5 class="display-title mb-3 text-black font-semibold">Follow Us</h5>
        <div class="d-flex justify-content-center justify-content-md-start gap-3">
          <a class="social text-black" href="#"><i class="fa-brands fa-instagram"></i></a>
          <a class="social text-black" href="#"><i class="fa-brands fa-facebook"></i></a>
          <a class="social text-black" href="#"><i class="fa-brands fa-twitter"></i></a>
          <a class="social text-black" href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>

      <!-- Logo -->
      <div class="col-12 col-md-3 d-flex flex-column align-items-center text-center">
        <a class="navbar-brand text-dark" href="/">
          <i class="fas fa-hotel text-black" style="font-size: 2.5rem;"></i>
          <p class="head-text text-black" style="font-size: 1.5rem;">DreamDWell</p>
        </a>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center mt-4">
      <p>&copy; 2024 DreamDWell. All rights reserved.</p>
    </div>
  </div>
</footer>
