<% layout("/layouts/boilerplate") %>


<div class="mt-8">
    <h4 class="text-xl font-semibold text-gray-800 mb-4">Add Your Review</h4>
    <form novalidate method="post" action="/explore/<%= listing.id %>/reviews" class="bg-white shadow-md rounded-lg p-6 needs-validation">
        <div class="mb-4">
            <label for="range" class="block text-gray-700">Rating:</label>
            <fieldset class="starability-heart mt-2">
                <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
        </div>

        <div class="mb-4">
            <label for="comment" class="block text-gray-700">Your Comment:</label>
            <textarea id="comment" name="reviews[comment]" rows="4" class="w-full p-2 mt-2 border border-gray-300 rounded-lg" required></textarea>
        </div>
        <button type="submit" class="text-white bg-blue-600 hover:bg-blue-700 px-6 py-2 rounded-lg">Submit Review</button>
    </form>
</div>